/* From Uiverse.io by Sashank02 */
.project-card {
    padding: 20px;
    width: fit-content;
    min-width: 280px;
    max-width: 320px;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
        -5px -5px 8px #7c8cd22f;
    transition: 0.4s;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.external {
    background: #191c23;
    box-shadow: 5px 5px 8px #1f2020,
        -5px -5px 8px #1f1f1f;
    border: 2px solid #333333;
}

.external:hover {
    box-shadow: 5px 5px 8px #1f2020,
        -5px -5px 8px #1f1f1f;
    background: #182133;
}

.project-card:hover {
    box-shadow: 5px 5px 8px #1b1b1b,
        -5px -5px 10px #6e7ec52f;

    @apply scale-105 transition-all duration-150;
}

.project-card-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(73, 150, 192);
    margin: 15px 0 0 10px;
}

.project-card-image {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-actual-image {
    border-radius: 15px;
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    transition: 0.3s;
}

.project-card-body {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
}

.project-card-footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
}

.project-card-by-name {
    font-weight: 700;
}