/* tic tac toe */
.game {
    box-sizing: border-box;
    padding: 10px;
}

.game__board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.square {
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0px 4px #ddd;
    text-align: center;
    font-size: 64px;
    line-height: 100px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    cursor: pointer;
    color: black;
}

.square.highlight {
    background-color: aquamarine;
    box-shadow: none;
}

.modal {
    width: 250px;
    border-radius: 16px;
    box-shadow: 0px 0px 40px 0px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;

}

.modal.show {
    transform: translate(-50%, -50%) scale(1);
}

.modal__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.button {
    border: none;
    width: 100%;
    height: 36px;
    font-size: 18px;
    font-weight: 600;
}

/* //// */