.case {
    background-color: #463973;
    border-color: #2e2640;
    border-radius: 5px;
    border-style: solid;
    border-width: 8px 10px 15px 10px;
    display: inline-grid;
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 17em;
    padding: 5px;
    user-select: none;
    width: 60em;
  }
  
  .key {
    border-color: #382e59 #2e2640;
    border-radius: 2px;
    border-style: solid;
    border-width: 3px 5px 8px 5px;
    color: #5cb3bf;
    display: block;
    font-family: sans-serif;
    font-size: 9px;
    font-weight: 800;
    grid-column-end: span 2;
    margin: 3px;
    padding-top: 2px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: all 50ms ease-out;
    will-change: box-shadow, color, text-shadow;
  }
  
  .key:empty::before {
    content: attr(data-key);
  }
  
  .active {
    transform: perspective(1200px) translateZ(-90px);
  }
  
  .medium {
    grid-column-end: span 3;
  }
  
  .large {
    grid-column-end: span 4;
  }
  
  .xl {
    grid-column-end: span 5;
  }
  
  .xxl {
    grid-column-end: span 6;
  }
  
  .xxxl {
    grid-column-end: 7;
  }
  
  .huge {
    grid-column-end: span 12;
  }
  