.line-container {
    position: relative;
    overflow: hidden;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    @apply w-3/4;
}

.line-container span {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 200px;
    background-color: #fff;
    animation: animateLinear 10s linear infinite;
    box-shadow: 10px 15px 3px 1px rgba(50, 50, 93, 0.9);
    cursor: pointer;
}

.line-container span:hover {
    background-color: #166a91;
    box-shadow: 10px 15px 3px 1px rgba(22, 106, 145, 0.9);

    @apply scale-110;
}

@keyframes animateLinear {
    0% {
      left: 0;
      transform: translate(-100%);
    }
    25% {
      left: 25%;
      transform: translate(-75%);
    }
    50% {
      left: 50%;
      transform: translate(-50%);
    }
    75% {
      left: 75%;
      transform: translate(-25%);
    }
    100% {
      left: 100%;
      transform: translate(0);
    }
  }