/* From Uiverse.io by akshat-patel28 */ 
.time-card {
    width: 280px;
    height: 150px;
    background: rgb(59, 125, 160);
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 5px 10px 25px ,rgb(0,0,0,0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    @apply hover:scale-95 transition-all duration-300 ease-in-out;
  }
  
  .time-card:hover {
    box-shadow: rgb(0,0,0) 5px 10px 25px ,rgb(0,0,0) -5px 0px 250px;
  }
  
  .time-text {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .time-sub-text {
    font-size: 15px;
    margin-left: 5px;
  }
  
  .day-text {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .clock-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .time-card:hover > .clock-icon {
    font-size: 23px;
  }
  