.music-page {
    overflow: hidden;
    background: inherit;
}

.wrapper-outer,
.wrapper {
    display: block;
    font-size: 52px;
    color: transparent;

    @apply transition-shadow duration-100;
}

.wrapper-outer::before,
.wrapper-outer::after,
.wrapper::before,
.wrapper::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
}

.wrapper::before {
    text-shadow: 0.5559919068em 2.414632133em 7px rgba(0, 30, 255, 0.9), 2.4231592329em 0.3180909508em 7px rgba(0, 255, 197, 0.9), 0.8735908065em 0.443810461em 7px rgba(0, 3, 255, 0.9), -0.1752675012em 1.5328591275em 7px rgba(0, 255, 182, 0.9), 0.5244098441em 0.8792438452em 7px rgba(208, 255, 0, 0.9), 1.1687831114em -0.3941383204em 7px rgba(255, 0, 122, 0.9), 1.2763170448em 0.3392511246em 7px rgba(206, 255, 0, 0.9), 2.4670000789em 2.0210054268em 7px rgba(0, 140, 255, 0.9), 0.0136435401em 0.8970242064em 7px rgba(255, 0, 18, 0.9), 1.2821044006em 0.6619018426em 7px rgba(25, 255, 0, 0.9), 1.5729339759em 0.7341936351em 7px rgba(255, 0, 216, 0.9), -0.0828851819em 2.1077055281em 7px rgba(249, 0, 255, 0.9), 1.5662106498em 1.5890216245em 7px rgba(183, 0, 255, 0.9), 2.4723648522em 1.850023503em 7px rgba(6, 255, 0, 0.9), 2.4171906918em 1.7119223109em 7px rgba(255, 255, 0, 0.9), 1.2889690607em 2.106694969em 7px rgba(140, 0, 255, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
}

.wrapper::after {
    text-shadow: 0.2923959822em 1.0469223998em 7px rgba(0, 28, 255, 0.9), -0.2855508798em 2.0678025811em 7px rgba(0, 177, 255, 0.9), 0.2940587113em 0.2311819576em 7px rgba(255, 174, 0, 0.9), 1.773171026em 0.1020164262em 7px rgba(205, 0, 255, 0.9), 1.3804274944em 2.0635483427em 7px rgba(0, 255, 154, 0.9), 2.3347717285em 0.9964108038em 7px rgba(0, 134, 255, 0.9), 1.9692595804em -0.4774418072em 7px rgba(207, 255, 0, 0.9), 0.5847659481em 1.1256686065em 7px rgba(0, 255, 115, 0.9), 2.2628373047em 1.0278280989em 7px rgba(255, 0, 34, 0.9), 1.4882098981em 0.8854482702em 7px rgba(255, 0, 90, 0.9), 0.8285986068em 2.31539158em 7px rgba(0, 255, 247, 0.9), 1.7040903082em 1.2211078336em 7px rgba(0, 195, 255, 0.9), 2.4496566811em 1.6670188159em 7px rgba(255, 231, 0, 0.9), 1.6169320944em 0.2811171348em 7px rgba(255, 57, 0, 0.9), 2.4699859782em 2.4253773876em 7px rgba(176, 255, 0, 0.9), -0.0978102961em 1.8207991694em 7px rgba(0, 212, 255, 0.9), 2.2594572301em -0.2613036148em 7px rgba(213, 255, 0, 0.9), 1.9959975272em 1.3716041376em 7px rgba(121, 0, 255, 0.9), 1.4597111435em 0.9355224332em 7px rgba(0, 175, 255, 0.9), 0.3846982965em 2.3767425539em 7px rgba(189, 255, 0, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
}

.wrapper-outer::before {
    text-shadow: 1.8100823301em 0.9571262525em 7px rgba(255, 23, 0, 0.9), 1.4874424348em 0.7433718745em 7px rgba(255, 0, 120, 0.9), 1.27183977em 0.8715622563em 7px rgba(255, 0, 197, 0.9), 0.9562012586em 1.7007757781em 7px rgba(255, 0, 238, 0.9), 0.2946420167em 0.1184160774em 7px rgba(126, 255, 0, 0.9), 1.7736326628em 2.4193075232em 7px rgba(0, 86, 255, 0.9), 0.8053789281em 0.0360369216em 7px rgba(0, 32, 255, 0.9), 0.8098292004em 1.5103136464em 7px rgba(142, 0, 255, 0.9), 0.105885751em 0.6885535409em 7px rgba(141, 255, 0, 0.9), 2.2927534746em -0.2852041399em 7px rgba(0, 219, 255, 0.9), -0.1017693118em -0.4393010273em 7px rgba(242, 0, 255, 0.9), 2.3833711598em 1.1870549921em 7px rgba(106, 255, 0, 0.9), 2.279053258em 0.7923912119em 7px rgba(129, 0, 255, 0.9), 0.1886841945em 0.2914493284em 7px rgba(0, 255, 146, 0.9), 0.052581193em 0.0557824711em 7px rgba(0, 255, 78, 0.9), 1.7207839272em 1.4564627909em 7px rgba(249, 0, 255, 0.9), 1.1417576056em 0.8521656402em 7px rgba(0, 255, 110, 0.9), 1.2697671106em 0.7425467746em 7px rgba(18, 0, 255, 0.9), 0.4426361059em 1.1184643989em 7px rgba(0, 255, 231, 0.9), 1.3941936526em 2.2601837372em 7px rgba(0, 208, 255, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
}

.wrapper-outer::after {
    text-shadow: 0272898992em 1.1541869707em 7px rgba(0, 151, 255, 0.9), 0.2486246131em -0.4323705426em 7px rgba(0, 255, 39, 0.9), 0.4701543034em 0.453413133em 7px rgba(255, 8, 0, 0.9), 1.8024838853em 1.6698843781em 7px rgba(212, 0, 255, 0.9), 0.7374182174em 2.4530997374em 7px rgba(0, 245, 255, 0.9), 1.5861527141em 0.5562036321em 7px rgba(255, 100, 0, 0.9), -0.1186419436em 0.4059731329em 7px rgba(255, 0, 206, 0.9), 1.9287310982em 1.2342754023em 7px rgba(255, 152, 0, 0.9), -0.4012065488em -0.3631615266em 7px rgba(255, 0, 124, 0.9), 0.1501069701em 1.625474123em 7px rgba(0, 218, 255, 0.9), 1.7225561944em -0.071680502em 7px rgba(0, 129, 255, 0.9), 1.949057596em 0.9797415376em 7px rgba(0, 115, 255, 0.9), 0.7338138228em 1.8300897679em 7px rgba(0, 160, 255, 0.9), 2.3054259956em 1.902940516em 7px rgba(237, 0, 255, 0.9), 1.3021850082em 0.3975772959em 7px rgba(0, 255, 202, 0.9), 0.0091744898em 1.5674309451em 7px rgba(255, 0, 183, 0.9), 0.1857980803em 2.1576801144em 7px rgba(255, 37, 0, 0.9), 1.144440678em 0.4351599594em 7px rgba(255, 107, 0, 0.9), 2.4969171159em 0.9761196054em 7px rgba(0, 239, 255, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }

    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}