@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 230, 230, 230;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 1, 1, 20;
}


html, body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-color: rgb(var(--background-end-rgb));
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;

    @apply h-screen w-screen;
}

main {

  @apply w-screen h-full flex flex-col xl:flex-row justify-between lg:justify-center xl:justify-between items-center mx-auto gap-20 overflow-y-auto;
}

h1 {
  text-shadow: 3px 0px 5px rgba(23, 48, 83, 75);
  font-size: 3rem;
  font-weight: 800;
  
  @apply tracking-tight flex flex-row gap-2 items-center w-fit;
}


h2 {
  font-size: 2rem;
  font-weight: 200;

  @apply tracking-widest uppercase
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  @apply flex items-center flex-row gap-2;
}

h4 {
  font-size: 1.35rem;
  font-weight: 650;
}

p {
  font-size: 1rem;
}

input, textarea {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;

  @apply text-black bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full;
}

code {
  @apply px-2 py-2 rounded-md overflow-scroll scroll-smooth;
}

.clock {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 20px solid rgb(216, 53, 47);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  background: #fefbf2;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 10px rgb(39, 60, 73);
}

.clock::before {
  position: absolute;
  content: '';
  height: 130px;
  width: 10px;
  background: rgb(39, 60, 73);
  top: 50%;
  left: calc(50% - 5px);
  border-radius: 5px;
  animation: spin 6s linear infinite;
  transform-origin: top;
}

.clock::after {
  position: absolute;
  content: '';
  height: 100px;
  width: 10px;
  background: rgb(39, 60, 73);
  top: 50%;
  left: calc(50% - 5px);
  border-radius: 5px;
  animation: spin 72s linear infinite;
  transform-origin: top;
  
}

@keyframes spin {
  0% {
      transform: rotate(-180deg)
  }
  100% {
      transform: rotate(180deg)
  }
}

.clock-container::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

.clock-container::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(39, 60, 73);
  left: 50%;
  top: calc(50% - 145px);
  z-index: 2;
  transform: translateX(-50%);
  box-shadow: 140px 145px 0 0 rgb(39, 60, 73), -140px 145px 0 0 rgb(39, 60, 73), 0 280px 0 0 rgb(39, 60, 73);
}

/** 
  utilities
*/

@layer utilities {
  
}