.markdown-body {
    font-size: 16px;
    line-height: 1.4;
    color: #e1e1e1;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 15px rgba(17, 17, 17, 0.731);
    border: 1.5px dashed #414141;

    @apply text-[16px] leading-[1.6] text-start;
}

.markdown-body figure {
    margin: 0;
    padding: 0 !important;
    height: fit-content !important;
}

/**
* LOWER WIDTH WITH LARGER SCREEN SIZE
*/

/* @media (min-width: 768px) {
    .markdown-body {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .markdown-body {
        width: 70%;
    }
}

@media screen and (min-width: 1280px) {
    .markdown-body {
        width: 60%;
    }
} */

.markdown-body h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: 600;
}

.markdown-body h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: 500;
}

.markdown-body h3 {
    font-size: 1.17em;
    margin: 1em 0;
    font-weight: 400;
}

.markdown-body h4 {
    margin: 1.33em 0;
}

.markdown-body h5 {
    margin: 1.67em 0;
}

.markdown-body h6 {
    margin: 2.33em 0;
}

.markdown-body a {
    color: #58a6ff;
}

.markdown-body a:hover {
    color: #317fd7;
    text-decoration: underline;
}

.markdown-body p {
    margin: 1em auto;
}

.markdown-body strong,
b {
    font-weight: 600;
}

.markdown-body em,
i {
    font-style: italic;
}

.markdown-body del {
    text-decoration: line-through;
}

.markdown-body blockquote {
    margin: 0 auto;
    padding: 0.25em 1em;
    color: #9a9fa5;
    border-left: 0.35em solid #2a2a2a;
    background-color: #1e1e1e;
    border-radius: 10px;
    width: fit-content;
}

.markdown-body blockquote p {
    margin: 0 auto;
}

.markdown-body blockquote p:last-child {
    margin-bottom: 0;
}

.markdown-body pre,
code {
    padding-bottom: none;
    margin: 0 auto;
    font-size: 85%;
    background-color: inherit;
    text-align: start;
    width: auto;
    border-radius: 10px;
    overflow-x: scroll;
    max-width: 300px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

@media screen and (min-width: 768px) {

    .markdown-body pre,
    code {
        max-width: 500px;
    }
}

@media screen and (min-width: 1024px) {

    .markdown-body pre,
    code {
        max-width: 700px;
    }
}

.markdown-body pre {
    overflow-x: scroll;
    margin: 1em auto;
    padding: 1em;
    background-color: #1e1e1e;
    z-index: 1;
    width: wrap;
}

.markdown-body pre:only-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.markdown-body hr {
    border: 0;
    border-top: 2px solid #414141;
    margin: 1em 0;
}

.markdown-body ul {
    margin: 1em auto;
    padding: 0 0 0 1em;
    list-style: disc;
    display: block;
    text-align: left;
}

.markdown-body ul li {
    margin: 0.5em auto;
}

.markdown-body img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/**
* SMALLER IMAGE MAX WIDTH WITH LARGER SCREEN SIZE
*/

@media (min-width: 768px) {
    .markdown-body img {
        max-width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .markdown-body img {
        max-width: 70%;
    }
}

@media screen and (min-width: 1280px) {
    .markdown-body img {
        max-width: 60%;
    }
}

.markdown-body ol {
    margin: 1em 0;
    padding: 0 0 0 1em;
    list-style: decimal;
    display: block;
    text-align: left;
}

.markdown-body ol li {
    margin: 0.5em 0;
}

.markdown-body table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

.markdown-body table td,
.markdown-body table th {
    border: 1px solid #414141;
    padding: 0.5em;
}

.markdown-body table th {
    text-align: left;
}