/* From Uiverse.io by akshat-patel28 */ 
.socials-button-container {
    display: flex;
    background-color: #2e7ba541;
    width: 250px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
    #386b887e 5px 10px 15px;
    position: relative;
  }
  
  .socials-button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .socials-button:hover {
    transform: translateY(-3px);
  }
  
  .socials-icon {
    font-size: 20px;
  }